
#review{
    text-align: center;
    color: #000;
    font-size: 7vh;
   font-weight: bold;
    
}

body {
    background-color: aliceblue;
    display: block;
  } 


* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
 .container {
    border-radius: 5px;
    background-color: #d3d1d1;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .sub{
    background-color: #4CAF50;
    border-radius: 8px;
    margin-top: 10px;
    color: #4CAF50;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    

  }
  .sub hover {
    background-color: #45a049;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, button[type=button] {
      width: 100%;
      margin-top: 0;
      overflow: scroll;
    }
    #feedbackTable{
      font-size: 1vh;
      color: #000;
    }
    
  }

 
  #feedbackTable {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  #feedbackTable td, #feedbackTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #feedbackTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #feedbackTable tr:hover {background-color: #ddd;}
  
  #feedbackTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #035504;
    color: white;
  }

  
  #fb {
      font-size: 3vh;
      color: #000;
      text-align: center;
      margin-top: 100px;
  }
  #feedbackTable{
    margin: 100px auto;
    margin-bottom: 100px;
  }
  
  








