body{
    background-color: aliceblue;

}
p{
    font-size: 30px;
    margin-left: 15%;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 100px;
    font-weight: bold;
    margin-bottom: 5%;
}

#modules{
    margin-left: 15%;
    font-weight: bold;

}

#introduction, #education, #hobbies, #learning{
    margin-left: 10%;
    margin-right: 10%;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 100px;
    font-size: 20px;
}
#learning{
    margin-bottom: 100px;
}
#myself{
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 3%;
    
}

  

