.footer {
  padding: 40px 0;
  background-color: #56c6c6;  
  }
  

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  padding: 0 10px;
}

.footer ul a {
  color: white;
  text-decoration: none;
}

.footer ul a:hover {
  color: #354649 ;
  transition: 0.5;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #354649;
  margin: 0 8px;
  color: white;
  opacity: 0.5;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer{
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;  
}

