
html {
  box-sizing: border-box;
}
body{
    background-color: #6C7A89 ;
    font-size: x-large;
    padding: none;
    
}
.bodyMain {
    background-image: url("earth.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: none;
    margin-bottom: 50px;
}

.header h2{
    text-align: left;
    font-size: 30px;
    font-style: italic;
    color: rgb(250, 250, 250);
    margin-bottom: 40px;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#slider, #sliderUk, #sliderSp, #sliderNl, #sliderFl, #sliderIt, #sliderIr {
    border-radius: 50%; 
}
.body{  
  margin-left: 5%;
  width: 90%;
  height: 800px;  
  margin-bottom: 50px;
}
.text{
  float: right ;
  height: 80%;
  width: 40%;
  overflow: auto;
  color: rgb(255, 255, 255);
}  
.body a{
  color: white;
  font-style: italic;
 float: right;
}

p{
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.img{
  float: left;
  width: 50%;
  height: 100%;
}

.prev, .next{
 float: left;
  width: 5%;
  height: 100%;  
}
#prev, #next{
  background-color: rgb(111, 250, 111);
}
@media screen and (max-width: 1200px){
  .body{
    height: 600px;
  }
}
@media screen and (max-width: 800px){
  .body{
    height: 400px;
  }
}
@media screen and (max-width: 1200px){
  .body{
    height: 600px;
  }
}


