body{
    background-color:#354649;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    position: relative;
    width: 98vw;
    text-align: center;
}
.article-list {
    color: #ffffff;
    background-color: inherit;
    height: 100%;
    padding-bottom: 20%;
}
  
  .article-list p {
    color: #ffffff;
  }
  
  .article-list h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .article-list h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .article-list .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .article-list .intro p {
    margin-bottom: 0;
  }
  
  .article-list .articles {
    padding-bottom: 40px;
  }
  
  .article-list .item {
    padding-top: 50px;
    min-height: 425px;
    text-align: center;
  }
  
  .article-list .item .name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: inherit;
  }
  
  .article-list .item .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10%;
  }
  
  .article-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #56c6c6;
    text-decoration: none;
  }  
  .article-list .item:hover{
    -webkit-transform: scale(1.18);
    -ms-transform: scale(1.18);
    transform: scale(1.18);
  }
  .footer{
    background-color: inherit;
    border-top: 2px solid  #4b4c4d;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 40px 0;
    margin-top: 100px;
  } 
  .footer li{
    padding: 0 10px;
  } 
  .footer ul a{
    color: inherit;
    bottom: 5px;
    vertical-align: bottom;
  }
  .footer ul a:hover{
    color: #56c6c6 ;
    transition: 0.5;
  }
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
  }
  .footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #56c6c6;
    margin: 0 8px;
    color: white;
    opacity: 0.5;
  }
  .footer .social > a:hover {
    color: #56c6c6;
    opacity: 0.9;
    transition: 0.5s;
  }
  @media screen and (max-width: 800px){
    .footer{
      height: 5%;
    }
  }
  
  