
.image-head
{ 
         /* Location of the image */
         background-image: url("ds1.jpg");
        /* Background image is centered vertically and horizontally at all times */
        background-position: center center;
        
        /* Background image doesn't tile */
        background-repeat: no-repeat;
        
        /* Background image is fixed in the viewport so that it doesn't move when 
           the content's height is greater than the image's height */
        background-attachment: fixed;
        
        /* This is what makes the background image rescale based
           on the container's size */
        background-size: cover;
        
        /* Set a background color that will be displayed
           while the background image is loading */
             
        
      
}
a{
  color: white;
}
@media screen and (min-width: 601px) {
    #a1 {
      margin-top: 100px;
        font-size: 100px;
        font-weight: bold;
        color: white;
        margin-left: 120px;
        margin-bottom: 40px;
  }
    #a2 {
       font-size: 100px;
       font-weight: bold;
      color: white;
      margin-left: 150px;
      margin-bottom: 40px;
    }
    #a3 {
        font-size: 100px;
        font-weight: bold;
        color: white;
        margin-left: 180px;
        margin-bottom: 80px;
    }
    .links {
        float:left;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
      }
      .links a {
        padding:8px;
        margin-top:7px;
        display:inline;
        width:100%;
    }
}
@media screen and (max-width: 600px) {
  #a1{
      font-size: 40px;
      font-weight: bold;
      color: white;
      
      margin-left: 40px;
      margin-bottom: 10px;
}
  #a2{
     font-size: 40px;
     font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  #a3{
      font-size: 40px;
      font-weight: bold;
      color: white;
      margin-left: 60px;
      margin-top: 50px;
      margin-bottom: 30px;
  }
  .links {
      position: fixed;
      bottom: 0;
      width: 100%;
      float:left;
       z-index: 2;
    }
    .links a {
      padding:8px;
      margin-top:7px;
      display:inline;
      width:100%;
  }
}
  





