
body{    
  background-color: rgb(167, 149, 149);    
}
#refference {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;    
}
#quote{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
}

#container {
width: 100%;
margin: 0 auto;
display: inline-block;  
}

#statement, .text, #refference, #image, #ds{
width: 70%;  
margin: 20px;
min-height: 1px;
margin-right: 10%;
float: right;
}
#image{
 background-size: cover;
 text-align: center;
}
.statement, .text{
 text-align: left;   
 font-size: 30px;
 letter-spacing: 2px;
 line-height: 1.8;
 color: white;
 
}
h2{
 color: black;
 font-weight: bold;
 text-align: left;
 margin-left: 10%;
 margin-bottom: 10%;
 font-size: 40px;
}
#ds{
  text-align: center;
  font-size: 50px;
  color: rgb(27, 41, 53);
}
#refference{
 text-align: center;
 color: black;
 font-size: 30px;
}

@media screen and (max-width: 600px){
  h2, #ds{
    font-size: 6vw;
    }
  .statement, .text{
    letter-spacing: 0.5px;
    line-height: 0.9;
    text-align: left;
    font-size: 4vw;
        
  }
  #quote, #refference{
     font-size: 4vw;
   } 

}


