body{
  background-color: #354649;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 98vw;
  height: 100vh;    

}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: inherit;
  text-align: center;
  vertical-align: middle;
}
#ml1, #ml2,#ml3,#ml4,#ml5,#ml6{
  position: absolute;
  font-family: inherit;
  color: inherit;
  width: 80%;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.4;
  margin-left: 15%;
  float: left;
  text-align: left;    
  overflow: hidden;
}
#ml2,#ml3,#ml4,#ml5,#ml6{
  display: none;
}
h2{
  color: #56c6c6;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  font-weight: bolder;
  font-size: 50px;
}
h2:hover
{
      -webkit-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);
      transform: rotateZ(-2deg);
      transition: 2s;
}
a{
  color: #56c6c6
}
@media screen and (max-width: 854px) {
  h4{
    display: none;
  }
  .vertical-nav {
    display: inline;
    width: 98%;
    text-align: center;
    height: 150px;
    position: relative;
    z-index: 2;
    margin-top: 0;
  }
  .vnav-b{
      height: 20px;
  }
  .container{
      height: 100%;
      display: block;
  }
  #ml1, #ml2,#ml3,#ml4,#ml5,#ml6{
      height: 80%;
      bottom: 0;
      overflow: scroll;
      font-size: 20px;
      margin-left: 10%;
      margin-right: 10%;
  }
  h2{
      font-size: 30px;
  }
  p
}  