
.fa-linkedin-in, .fa-envelope, .fa-info-circle, .fa-user, .fa-bars, .fa-github
{
    color: red;
    font-size: 40px;
    background: transparent;
    border: none;
    padding: 15px;
    border-radius: 30px;
}
.dropbtn {
  background: transparent;
  border: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 1;
}
b{
  height: 70px;
  width: 50px;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  background: transparent;
  border: none;
  z-index: 1;
}

/* Dropdown Content (Hidden) */
.dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
  border: none;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

.dropdown-content a {
  background: transparent;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

.dropdown-content a:hover {
  background: transparent;
   border: none;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
 }

.dropdown:hover .dropbtn {
  background: transparent;
  border: none;;
}
.dropdown-content b{
  text-align: left;
  color: white;
  display: none;
}
.dropdown-content a:hover i{
  display: none;
}
.dropdown-content a:hover b{
  display: block;
  transition: 2s;
}
